.center-div {
  width: min(75rem, 90%);
  margin: 0 auto;
}
.title-1 {
  font-family: "Outfit";
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  margin-top: 2rem;
  line-height: 66px;
  text-align: center;
  color: rgba(11, 11, 11, 0.83);
}
.btn-1 {
  padding: 0.75rem 2.25rem;
  filter: drop-shadow(0px 5px 15px rgba(0, 0, 0, 0.25));
  border: none;
  background: rgba(19, 28, 99, 0.91);
  border-radius: 35px;
  font-family: var(--ft-inter);
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  text-align: center;
  text-transform: capitalize;
  color: #ffffff;
}
.btn-2 {
  padding: 0.5rem 1.5rem;
  filter: drop-shadow(0px 5px 15px rgba(0, 0, 0, 0.25));
  border: 1px solid #333;
  background: transparent;
  border-radius: 35px;
  font-family: var(--ft-inter);
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  text-align: center;
  text-transform: capitalize;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
@media only screen and (max-width: 880px) {
  .title-1 {
    font-size: 1.75rem;
  }
  hr {
    display: none;
  }
}
