.Footer {
  background: rgba(19, 28, 99, 0.91);
  margin-top: 4rem;
}

footer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 4rem;
  font-family: "Roboto";
  font-style: normal;
  text-transform: capitalize;
  font-size: 20px;
  line-height: 23px;
}

footer h4 {
  font-weight: 500;
  color: #ffffff;
  margin-bottom: 12px;
}
footer ul {
  list-style: none;
}
footer a {
  display: block;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.75);
  text-decoration: none;
  padding: 0.5rem 0;
}
