.Testimonial {
  width: min(72rem, 90%);
  overflow: hidden;
}

.Testimonial iframe {
  width: min(22rem, 80%);
  height: 50vh;
}
.TestimonialCard {
  width: 100%;
  margin-top: 2rem;
  display: flex !important;
  align-items: center;
  justify-content: center;
}
